* {
    margin: 0;
    padding: 0;
}
a:link {
    color: black;
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
}
.wrapper {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #6495ed;
}
nav {
    padding: 30px 20px;
    width: 800px;
}
nav ul {
    display: flex;
    justify-content: space-around;
}